[application]

[web.app]

# HTML title tag content
title = "transfer-dioxus"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []

[bundle]
identifier = "com.dioxuslabs"
publisher = "xxc"
icon = ["assets/icon_128x128.png"]
